RewriteEngine on

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost [NC]
RewriteCond %{HTTP_HOST} !=rajsie [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L,QSA]

RewriteCond %{REQUEST_URI} /class.* [OR]
RewriteCond %{REQUEST_URI} /reading.* [OR]
RewriteCond %{REQUEST_URI} /changing.* [OR]
RewriteCond %{REQUEST_URI} /CRUD.* [OR]
RewriteCond %{REQUEST_URI} /schema.* [OR]
RewriteCond %{REQUEST_URI} /filter.*
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTPS}:s on:(s) 
RewriteRule ^ http%1://%{HTTP_HOST}/#!%{REQUEST_URI} [L,QSA,NE]

# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not for a valid link
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !^/index.htm
RewriteCond %{REQUEST_URI} !^/index.*
RewriteCond %{REQUEST_URI} !/class.*
RewriteCond %{REQUEST_URI} !/reading.*
RewriteCond %{REQUEST_URI} !/changing.*
RewriteCond %{REQUEST_URI} !/CRUD.*
RewriteCond %{REQUEST_URI} !/schema.*
RewriteCond %{REQUEST_URI} !/filter.*
RewriteCond %{HTTP_HOST} !=rajsie [NC]
RewriteRule ^(.*)$ https://fcarelse.github.io/RecordArray%{REQUEST_URI} [L,QSA]
